.vs/StudentNav/
.vs/config/applicationhost.config
StudentNav/Properties/PublishProfiles/CustomProfile.pubxml
StudentNav/Properties/
StudentNav/obj/
StudentNav.Tests/obj/
StudentNav/bin/
StudentNav.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
packages/
StudentNav.Tests/
