@model IEnumerable<StudentNav.Models.UserViewModel>

@{
    ViewBag.Title = "AssignRoles";
}

<h2>AssignRoles</h2>

<div class="row">
    <div class="col-md-12 agencies">
        @foreach (var user in Model)
            {
            <div class="row">
                <div class="col-md-2"><img src="@user.ProfilePic" style="width:100%" /></div>
                <div class="col-md-8">@user.Name</div>
                <div class="col-md-2"><a href="/Manage/AssignRoles?userId=@user.Id&role=Admin">Admin</a> | <a href="/Manage/AssignRoles?userId=@user.Id&role=ContentProvider">CProvider</a> | <a href="/Manage/AssignRoles?userId=@user.Id&role=User">User</a></div>
            </div>
            <hr />
        }
    </div>
</div>